<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Classification Web App</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2C3E50;">
    <a class="navbar-brand" href="/">Image Classification Web App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <h4>Image Classification Web App</h4>
    <br>
</div>

{% block body %}

{% endblock %}
</body>
</html>
